@import "tailwindcss";

@font-face {
  font-family: homeHeader;
  src: url('/assets/fonts/YearnAlways-6RP7Y.ttf') format("truetype");
}

@font-face {
  font-family: inkFree;
  src: url('/assets/fonts/INKFREE.TTF') format("truetype");
}

html, body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1, h2, h3, .articleTitle {
  font-family: homeHeader;
  letter-spacing: 3px;
}

button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;

  font-size: 12px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  margin: 10px 10px;
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  transform: translateY(-0.33em);
}

button:active .button_top {
  transform: translateY(0);
}
