@import "tailwindcss";

@font-face {
  font-family: homeHeader;
  src: url('/assets/fonts/YearnAlways-6RP7Y.ttf') format("truetype");
}

html, body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1, h2, h3 {
  font-family: homeHeader;
  letter-spacing: 1px;
}
